@font-face {
  font-family: "pokemon-font";
  src: url("./pokemon-font.woff") format("woff");
}

body {
    font-family: sans-serif;
    text-align: center;
    background-color: #2a52be;
  }
  
  form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  input[type="text"] {
    font-family: "pokemon-font", sans-serif;
    font-size: 17px;
    padding: 10px;
    border: 3px solid rgb(85, 82, 82);
    border-radius: 5px 0 0 5px;
  }
  
  button[type="submit"] {
    cursor: pointer;
    font-family: "pokemon-font", sans-serif;
    font-size: 17px;
    padding: 10px;
    border: 3px solid rgb(85, 82, 82);
    border-radius: 0 5px 5px 0;
    background-color: #fd4a50;
    color: white;
  }
  select {
    cursor: pointer;
    font-family: "pokemon-font", sans-serif;
    font-size: 15px;
    padding: 10px;
    border: 3px solid rgb(85, 82, 82);
    border-radius: 5px 0 0 5px;
  }

  #blue-red-button {
    cursor: pointer;
    font-family: "pokemon-font", sans-serif;
    font-size: 18px;
    color: white;
    border-radius: 100px;
    border-color: #ffcb05;
    margin: 40px;
    padding: 15px;
    position: absolute;
    top: 0;
    left: 0;
    overflow:hidden;
  }

/* Hover effect: transition from left to right */
#blue-red-button::before,
#blue-red-button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all 0.80s ease;
    border-radius: 30px;
}

#blue-red-button::after {
  box-shadow: inset 0 0 0 1px #ffcb05;
}

#blue-red-button::before {
  border-radius: 0;
  margin-left: -100%;
  box-shadow: inset 0 0 0 60px #ffcb05;
}

#blue-red-button:hover::before {
  margin-left: 0;
}