body {
    font-family: sans-serif;
    text-align: center;
    background-color: #2a52be;
  }
  
  form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  input[type="text"] {
    font-family: "Pokemon Regular", sans-serif;
    font-size: 18px;
    padding: 10px;
    border: 3px solid rgb(85, 82, 82);
    border-radius: 5px 0 0 5px;
  }
  
  button[type="submit"] {
    cursor: pointer;
    font-family: "Pokemon Regular", sans-serif;
    font-size: 18px;
    padding: 10px;
    border: 3px solid rgb(85, 82, 82);
    border-radius: 0 5px 5px 0;
    background-color: #fd4a50;
    color: white;
  }
  select {
    cursor: pointer;
    font-family: "Pokemon Regular", sans-serif;
    font-size: 17px;
    padding: 10px;
    border: 3px solid rgb(85, 82, 82);
    border-radius: 5px 0 0 5px;
  }

  #pokeFilter-container {
    position: absolute;
    left: 40px;
    top: 225px;
    height: 200px;
    width: 162px;
    overflow-y: scroll;
    cursor: pointer;
    font-family: "Pokemon Regular", sans-serif;
    font-size: 18px;
    padding: 10px;
    border: 3px solid rgb(85, 82, 82);
    border-radius: 5px 0 0 5px;
    background-color: white;
  }  

  #pokedex-template {
    height: 750px;
    width: 750px;
    display: flex;
    padding-left: 2%;
    padding-top: 10%;
    justify-content: start, space-between;
    align-content: center;
  }

  #pokedex {
    border-style: solid;
    border-width: 10px;
    border-radius: 10px;
    border-color: #2a2a2a;
  }

  #search-pokemon {
    position: absolute;
    left: 40px;
    top: 110px;
  }

  #filter-pokemon {
    position: absolute;
    left: 40px;
    top: 180px;
  }

  #pokemon-details {
    position: absolute;
  }

  #pokemon-sprite {
    position: absolute;
    left: 395px;
    top: 240px;
    height: 150px;
  }
  
  #pokemon-name {
    font-family: "Pokemon Regular", sans-serif;
    font-size: 36px;
    position: absolute;
    left: 460px;
    top: 135px;
    white-space: nowrap;
  }

  #pokemon-type {
    font-family: "Pokemon Regular", sans-serif;
    font-size: 36px;
    position: absolute;
    left: 570px;
    top: 225px;
    white-space: nowrap;
  }

  #pokemon-id {
    font-family: "Pokemon Regular", sans-serif;
    font-size: 30px;
    position: absolute;
    left: 825px;
    top: 83px;
    white-space: nowrap;
  }

  #pokemon-height {
    font-family: "Pokemon Regular", sans-serif;
    font-size: 36px;
    position: absolute;
    left: 570px;
    top: 320px;
    white-space: nowrap;
  }

  #pokemon-weight {
    font-family: "Pokemon Regular", sans-serif;
    font-size: 36px;
    position: absolute;
    left: 570px;
    top: 380px;
    white-space: nowrap;
  }

  #blue-red-button {
    cursor: pointer;
    font-family: "Pokemon Regular", sans-serif;
    font-size: 18px;
    color: white;
    border-radius: 100px;
    border-color: #ffcb05;
    margin: 40px;
    padding: 15px;
    position: absolute;
    top: 0;
    left: 0;
    overflow:hidden;
  }


/* Hover effect: transition from left to right */
#blue-red-button::before,
#blue-red-button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all 0.80s ease;
    border-radius: 30px;
}

#blue-red-button::after {
  box-shadow: inset 0 0 0 1px #ffcb05;
}

#blue-red-button::before {
  border-radius: 0;
  margin-left: -100%;
  box-shadow: inset 0 0 0 60px #ffcb05;
}

#blue-red-button:hover::before {
  margin-left: 0;
}