#game-container {
    display: flex;
    justify-content: end;
    float: right;
    padding-right: 2%;
    padding-top: 15%;
}

#game {
    display: flex;
    background-color: rgb(71, 71, 71);
    overflow: hidden;
    text-align: center;
    height: 600px;
    width: 600px;
    border-style: solid;
    border-radius: 5px;
    border-color: #000;
    border-width: 8px;
}

#player {
    height: 50px;
    position: relative;
    width: 50px;
}